<% include partials/header.ejs %>

<script type="text/javascript" src="countries.js"></script>

<div id="data" data-searched="no"></div>
<h3 id="userData" data-user="<%=currentUser.username%>"><%=currentUser.username%>'s Account</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/account">Photos <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/account/following">Following</a>
        <a class="nav-item nav-link" href="/account/followers">Followers</a>
        <a class="nav-item nav-link" href="/account/messages">Messages</a>
        <a class="nav-item nav-link" href="/account/settings">Settings</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
</nav>
<h4>Upload Photo</h4>
<div class="jumbotron">
    <h1 class="display-4">Upload new photo</h1>
    <button id="addButton" class="btn btn-primary btn-lg">Open Form</button>
</div>

<form action="/home" method="POST" id="addPhotoForm" style="display: none;" enctype="multipart/form-data">
    <div class="form-group">
        <label for="image">Image Link</label>
        <input type="file" id="image" class="form-control" name="image" accept="image/*" required>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" name="description" id="description" class="form-control">
    </div>
    <label for="country">Photo was taken in: </label>
    <select id="countriesList" class="custom-select custom-select-lg mb-3" name="country" id="country">

    </select>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="photoType" id="landscape" value="landscape" checked="checked">
            <label class="form-check-label" for="landscape">Landscape</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="photoType" id="cityscape" value="cityscape">
            <label class="form-check-label" for="cityscape">Cityscape</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isPublic" id="public" value="true" checked="checked">
            <label class="form-check-label" for="isPublic">Public</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isPublic" id="private" value="false">
            <label class="form-check-label" for="isPublic">Private</label>
        </div>
    </div>
        <button type="submit" name="upload" class="btn btn-primary">Upload</button>
</form>

<hr>
<h3>Photos</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="form-group">
        <label for="sortBy">Sort By: </label>
        <select id="sortBy" name="sortBy" class="form-control">
            <option value="newest" selected="selected">Newest</option>
            <option value="highest rated">Highest Rated</option>
            <option value="most favorited">Most favorited</option>
            <option value="most viewed">Most Viewed</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="within">Within: </label>
        <select id="within" name="within" class="form-control">
            <option value="day">Past Day</option>
            <option value="week">Past Week</option>
            <option value="month" selected="selected">Past Month</option>
            <option value="year">Past Year</option>
            <option value="ever">Ever</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="photoType">PhotoType: </label>
        <select id="photoType" name="photoType" class="form-control">
            <option value="any" selected="selected">Any</option>
            <option value="landscapes">Landscapes</option>
            <option value="cityscapes">Cityscapes</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="sortBy">Country: </label>
        <select id="country" name="country" class="form-control">
            <option value="all" selected="selected">All</option>
        </select>
    </div>
    <button id="sortBtn" class="btn btn-xs btn-primary">Sort</button>
</nav>

<div id="postsSection" class="text-center" style="display: flex; flex-wrap: wrap">
    <div id="column-1" class="col-md-4" data-col1="<%=htmlPosts.html1%>" style="padding: 2px 2px 0 2px">

    </div>
    <div class="endOfPage1"></div>
    <div id="column-2" class="col-md-4" data-col2="<%=htmlPosts.html2%>" style="padding: 0 5px 0 5px">

    </div>
    <div class="endOfPage2"></div>
    <div id="column-3" class="col-md-4" data-col3="<%=htmlPosts.html3%>" style="padding: 0 5px 0 5px">

    </div>
    <div class="endOfPage3"></div>
</div>

<script>
    var addButton = document.querySelector("#addButton");
    var addPhotoForm = document.querySelector("#addPhotoForm");
    var countriesList = document.querySelector("#countriesList");
    var addFormOn = false;

    addButton.addEventListener("click", openAddForm);

    function openAddForm(){
        addFormOn = !addFormOn;
        if (addFormOn){
            addPhotoForm.style.display = "block";
        } else {
            addPhotoForm.style.display = "none";
        }
    }
    var html = '';
    countries.forEach(function(country){
       if(country.name == "United States") {
           html += '<option value="' + country.name + '" selected="selected">' + country.name + '</option>';
       } else {
           html += '<option value="' + country.name + '">' + country.name + '</option>';
       }
    });
    countriesList.innerHTML = html;
</script>

<script type="text/javascript" src="postsSort.js"></script>

<script>
    document.addEventListener("scroll", function() {
        checkForNewDiv();
    });

    var checkForNewDiv = function() {
        var lastDiv1 = document.querySelector(".endOfPage1");
        var lastDiv2 = document.querySelector(".endOfPage2");
        var lastDiv3 = document.querySelector(".endOfPage3");
        var bottomOffset = Math.min(lastDiv1.offsetTop, lastDiv2.offsetTop, lastDiv3.offsetTop);
        var pageOffset = window.pageYOffset + window.innerHeight;
        console.log(pageOffset + " : " + bottomOffset);

        if(pageOffset > bottomOffset - 100 && !end) {
            console.log("load more");
            makeAJAXRequest({}, true);
        }
    };
</script>

<% include partials/footer.ejs %>