<% include partials/header.ejs %>

<h3><%=currentUser.username%>'s Account</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="navbar-nav">
        <a class="nav-item nav-link active" href="/account">Photos <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/account/following">Following</a>
        <a class="nav-item nav-link" href="/account/followers">Followers</a>
        <a class="nav-item nav-link" href="/account/messages">Messages</a>
        <a class="nav-item nav-link" href="/account/settings">Settings</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
</nav>
<h4>Upload Photo</h4>
<div class="jumbotron">
    <h1 class="display-4">Upload new photo</h1>
    <button id="addButton" class="btn btn-primary btn-lg">Open Form</button>
</div>

<form action="/home" method="POST" id="addPhotoForm" style="display: none;">
    <div class="form-group">
        <label for="image">Image Link</label>
        <input type="text" name="image" id="image" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" id="title" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="Description">Description</label>
        <input type="text" name="description" id="description" class="form-control">
    </div>
    <label for="country">Photo was taken in: </label>
    <select class="custom-select custom-select-lg mb-3" name="country" id="country">
        <% countries.forEach(function(country){ %>
        <% if(country.name == "United States") {%>
            <option value="<%=country.name%>" selected="selected"><%=country.name%></option>
        <%} else {%>
            <option value="<%=country.name%>"><%=country.name%></option>
        <% }});%>
    </select>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="photoType" id="landscape" value="landscape" checked="checked">
            <label class="form-check-label" for="landscape">Landscape</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="photoType" id="cityscape" value="cityscape">
            <label class="form-check-label" for="cityscape">Cityscape</label>
        </div>
    </div>
    <div class="form-group">
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isPublic" id="public" value="true" checked="checked">
            <label class="form-check-label" for="landscape">Public</label>
        </div>
        <div class="form-check form-check-inline">
            <input class="form-check-input" type="radio" name="isPublic" id="private" value="false">
            <label class="form-check-label" for="cityscape">Private</label>
        </div>
    </div>
        <button type="submit" name="upload" class="btn btn-primary">Upload</button>
</form>

<hr>
<h3>Photos</h3>

<div class="row text-center" style="display: flex; flex-wrap: wrap">
    <%posts.forEach(function(post){%>
        <div class="col-md-6">
            <a href="/home/<%= post._id %>" class="nostyle">
                <div class="thumbnail">
                    <img src="<%= post.image %>">
                </div>
            </a>
        </div>
    <%});%>
</div>

<script>
    var addButton = document.querySelector("#addButton");
    var addPhotoForm = document.querySelector("#addPhotoForm");
    var addFormOn = false;

    addButton.addEventListener("click", openAddForm);

    function openAddForm(){
        addFormOn = !addFormOn;
        if (addFormOn){
            addPhotoForm.style.display = "block";
        } else {
            addPhotoForm.style.display = "none";
        }
    }

</script>

<% include partials/footer.ejs %>