<% include partials/header.ejs %>

<script type="text/javascript" src="countries.js"></script>

<div id="data" data-searched="no"></div>
<h3 id="userData" data-user="<%=currentUser.username%>" data-getFavorites="true"><%=currentUser.username%>'s Account</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/account">Photos <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="/account/following">Following</a>
        <a class="nav-item nav-link" href="/account/followers">Followers</a>
        <a class="nav-item nav-link" href="/account/messages">Messages</a>
        <a class="nav-item nav-link active" href="/account/favorites">Favorites</a>
        <a class="nav-item nav-link" href="/account/settings">Settings</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
</nav>
<h3>Favorites</h3>

<form action="/account/favorites" method="GET" class="form-inline center">
    <label for="lists">Filter by list: </label>
    <select id="lists" name="list" class="form-control" onchange="updateChange()">
        <option value="all" selected="selected">All Lists</option>
        <option value="">Unlisted</option>
        <%lists.forEach(function(list){%>
            <option value="<%=list.name%>"><%=list.name%></option>
            <%})%>
    </select>
    <button type="submit" id="filterBtn" class="btn btn-xs btn-primary">Filter</button>
    <button type="button" id="toggleEditBtn" class="btn btn-xs btn-warning">Edit</button>
</form>

<nav id="editListForm" class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333; display: none">
    <div class="form-group">
        <label for="listName">List to add or edit: </label>
        <input type="text" id="listName">
    </div>
    <button type="button" id="addBtn" class="btn btn-xs btn-success">Add list</button>
    <button type="button" id="editBtn" class="btn btn-xs btn-warning">Change name</button>
    <button type="button" id="removeBtn" class="btn btn-xs btn-danger">Remove list</button>
    <div class="form-group">
        <label for="privacy">Privacy: </label>
        <select id="listPrivacy" name="listPrivacy" onchange="updatePrivacy()">
            <option value="public">Public</option>
            <option value="followers">followers</option>
            <option value="private">private</option>
        </select>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="form-group">
        <label for="sortBy">Sort By: </label>
        <select id="sortBy" name="sortBy" class="form-control">
            <option value="newest" selected="selected">Newest</option>
            <option value="highest rated">Highest Rated</option>
            <option value="most favorited">Most favorited</option>
            <option value="most viewed">Most Viewed</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="within">Within: </label>
        <select id="within" name="within" class="form-control">
            <option value="day">Past Day</option>
            <option value="week">Past Week</option>
            <option value="month" selected="selected">Past Month</option>
            <option value="year">Past Year</option>
            <option value="ever">Ever</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="photoType">PhotoType: </label>
        <select id="photoType" name="photoType" class="form-control">
            <option value="any" selected="selected">Any</option>
            <option value="landscapes">Landscapes</option>
            <option value="cityscapes">Cityscapes</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="sortBy">Country: </label>
        <select id="country" name="country" class="form-control">
            <option value="all" selected="selected">All</option>
        </select>
    </div>
    <button id="sortBtn" class="btn btn-xs btn-primary">Sort</button>
</nav>

<div id="grid" class="grid" data-posts="<%=htmlPosts.html%>" data-index="<%=htmlPosts.currentIndex%>">

</div>
<div id="endOfPage"></div>

<script type="text/javascript" src="manageLists.js"></script>

<script type="text/javascript" src="postsSort.js"></script>

<script>
    document.addEventListener("scroll", function() {
        checkForNewDiv();
    });

    var checkForNewDiv = function() {
        var lastDiv = document.querySelector("#endOfPage");
        var lastDivOffset = lastDiv.offsetTop;
        var pageOffset = window.pageYOffset + window.innerHeight;
        sessionStorage.pagePosition = window.pageYOffset;

        if(pageOffset > lastDivOffset - 300 && !end && !wait) {
            wait = true;
            makeAJAXRequest({}, true);
        }
    };
</script>

<% include partials/footer.ejs %>