<% include partials/header.ejs %>

<script type="text/javascript" src="countries.js"></script>

<div id="data" data-searched="no"></div>
<div id="userData" data-user="<%=currentUser.username%>" data-getFavorites="true"></div>

<div class="account-header">
    <div class="snappir-container">
        <div id="userData" class="account-username" data-username="<%=currentUser.username%>"><%=currentUser.username%></div>
        <div class="account-info-container">
            <!--<div class="account-info">Photos: XX</div>-->
            <!--<div class="account-info">Collections: XX</div>-->
            <div class="account-info">Followers: <%=currentUser.followers.length%></div>
            <div class="account-info">Following: <%=currentUser.following.length%></div>
            <!--<div class="account-info">Favorites: XX</div>-->
        </div>
        <div class="account-bio">
            <%=currentUser.bio%>
        </div>
    </div>
</div>

<div class="account-nav">
    <a class="account-nav-item" href="/account">Photos</a>
    <!--<a class="account-nav-item" href="/account/collections">Collections</a>-->
    <a class="account-nav-item" href="/account/following">Following</a>
    <a class="account-nav-item" href="/account/followers">Followers</a>
    <a class="account-nav-item" href="/account/messages">Messages</a>
    <a class="account-nav-item account-nav-active" href="/account/favorites">Favorites</a>
    <a class="account-nav-item" href="/account/settings">Settings</a>
    <a class="account-nav-item account-nav-danger " href="/logout">Logout</a>
</div>

<div class="snappir-container">
    <div class="account-favorites-container">
        <form action="/account/favorites" method="GET" style="display: inline">
            <select name="list" id="lists" name="list" class="home-dropdown favorites-bar-item">
                <option value="all" selected="selected">All</option>
                <option value="unlisted">unlisted</option>
                <%lists.forEach(function(list){%>
                <option value="<%=list.name%>"><%=list.name%></option>
                <%})%>
            </select>
            <button type="submit" class="snappir-btn-invisible account-nav-item favorites-bar-item">Filter</button>
        </form>
        <a class="account-nav-item favorites-bar-item favorites-edit-btn">Edit List</a>
        <a class="account-nav-item favorites-bar-item favorites-create-btn">Create New List</a>
    </div>
    <div class="favorites-edit-container favorites-edit">
        Change:
        <input type="text" id="currentList" class="list-bar-input" placeholder="List">
        to:
        <input type="text" id="newListName" class="list-bar-input" placeholder="New Name">
        <button id="updateBtn" class="snappir-btn favorites-bar-btn">Change Name</button>
        <button id="deleteBtn" class="snappir-btn snappir-btn-red list-bar-btn">Delete List</button>
    </div>
    <div class="favorites-edit-container favorites-create">
        <input type="text" id="newList" class="list-bar-input" placeholder="List">
        <button id="uploadBtn" class="snappir-btn favorites-bar-btn">Create</button>
    </div>

    <div id="grid" class="grid" data-posts="<%=htmlPosts.html%>" data-index="<%=htmlPosts.currentIndex%>">

    </div>
    <div id="endOfPage"></div>
</div>

<script>
    var editBtn = document.querySelector(".favorites-edit-btn");
    var createBtn = document.querySelector(".favorites-create-btn");
    var editList = document.querySelector(".favorites-edit");
    var createList = document.querySelector(".favorites-create");
    var formOpened = '';

    editBtn.addEventListener("click", function(){
        if(formOpened == "edit"){
            editList.style.display = "none";
            formOpened = '';
        } else {
            createList.style.display = "none";
            editList.style.display = "block";
            formOpened = 'edit';
        }
    })

    createBtn.addEventListener("click", function(){
        if(formOpened == "create"){
            createList.style.display = "none";
            formOpened = '';
        } else {
            editList.style.display = "none";
            createList.style.display = "block";
            formOpened = 'create';
        }
    })
</script>

<script type="text/javascript" src="manageLists.js"></script>

<script type="text/javascript" src="postsSort.js"></script>

<script>
    document.addEventListener("scroll", function() {
        checkForNewDiv();
    });

    var checkForNewDiv = function() {
        var lastDiv = document.querySelector("#endOfPage");
        var lastDivOffset = lastDiv.offsetTop;
        var pageOffset = window.pageYOffset + window.innerHeight;
        sessionStorage.pagePosition = window.pageYOffset;

        if(pageOffset > lastDivOffset - 300 && !end && !wait) {
            wait = true;
            makeAJAXRequest({}, true);
        }
    };
</script>

<% include partials/footer.ejs %>