<% include partials/header.ejs %>

<div class="account-header">
    <div class="snappir-container">
        <div id="userData" class="account-username" data-username="<%=currentUser.username%>"><%=currentUser.username%></div>
        <div class="account-info-container">
            <!--<div class="account-info">Photos: XX</div>-->
            <!--<div class="account-info">Collections: XX</div>-->
            <div class="account-info">Followers: <%=currentUser.followers.length%></div>
            <div class="account-info">Following: <%=currentUser.following.length%></div>
            <!--<div class="account-info">Favorites: XX</div>-->
        </div>
        <div class="account-bio">
            <%=currentUser.bio%>
        </div>
    </div>
</div>

<div class="account-nav">
    <a class="account-nav-item" href="/account">Photos</a>
    <!--<a class="account-nav-item" href="/account/collections">Collections</a>-->
    <a class="account-nav-item" href="/account/following">Following</a>
    <a class="account-nav-item account-nav-active" href="/account/followers">Followers</a>
    <a class="account-nav-item" href="/account/messages">Messages</a>
    <a class="account-nav-item" href="/account/favorites">Favorites</a>
    <a class="account-nav-item" href="/account/settings">Settings</a>
    <a class="account-nav-item account-nav-danger " href="/logout">Logout</a>
</div>

<div class="snappir-container">
    <div class="user-info-container">
        <% myUser.followers.forEach(function(follow){ %>
        <div class="user-info-bar" data-id="<%=follow._id%>">
            <div class="info-bar-image">

            </div>
            <div class="info-bar-details">
                <div class="info-bar-half">
                    <div class="info-bar-name"><a href="/account/<%=follow.username%>"><%=follow.username%></a></div>
                    <div class="info-bar-name"><%=follow.firstName%></div>
                    <div class="info-bar-name"><%=follow.lastName%></div>
                    <div class="info-bar-meta"></div>
                </div>
                <div class="info-bar-half">
                    <div class="info-bar-bio">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac pellentesque justo, vitae aliquam tellus.
                        Fusce in lorem non leo vestibulum pulvinar. Curabitur nec mi dictum, tristique felis ac, pulvinar velit.
                    </div>
                    <div class="info-bar-meta"></div>
                </div>
            </div>
            <div class="info-bar-actions">
                <button class="snappir-btn user-message-btn">Message</button>
                <% var match = false; %>
                <% myUser.following.forEach(function(user){ %>
                    <% if(user.username == follow.username){ %>
                        <% match = true; %>
                    <% } %>
                <% }) %>
                <button class="account-follow-btn snappir-btn <% if(match){ %>snappir-btn-inverse<%}%>" data-following="<%if(match){%>yes<%}else{%>no<%}%>">
                    <%if(match){%>Unfollow<%}else{%>Follow<%}%></button>
            </div>
        </div>
        <div class="info-message-bar">
            <input type="text" class="message-bar-input">
            <button type="submit" class="account-message-send snappir-btn snappir-btn-green">Send</button>
        </div>
        <% }) %>
    </div>
</div>

<script>
    var users = document.querySelectorAll(".user-info-bar");
    var followBtns = document.querySelectorAll(".account-follow-btn");
    var messageBtns = document.querySelectorAll(".user-message-btn");
    var messageTexts = document.querySelectorAll(".message-bar-input");
    var messageSendBtns = document.querySelectorAll(".account-message-send")
    var infoMessageBars = document.querySelectorAll(".info-message-bar");
    var isFollowing = [];

    for(let i = 0; i < users.length; i++){
        isFollowing.push(followBtns[i].getAttribute("data-following"))
        setupFollowButtons(i);
        messageBarSetup(i);
    }

    function setupFollowButtons(i){
        followBtns[i].addEventListener("click", function(){
            if(isFollowing[i] == 'yes'){
                axios.put("/api/users/unfollow", {
                    accountUserId: users[i].getAttribute("data-id")
                })
                    .then(function(){
                        followBtns[i].classList.remove("snappir-btn-inverse");
                        followBtns[i].textContent = 'Follow';
                        isFollowing[i] = 'no';
                    })
            } else {
                axios.put("/api/users/follow", {
                    accountUserId: users[i].getAttribute("data-id")
                })
                    .then(function(){
                        followBtns[i].classList.add("snappir-btn-inverse");
                        followBtns[i].textContent = 'Unfollow';
                        isFollowing[i] = 'yes';
                    })
            }
        });
    }

    function messageBarSetup(i){
        messageBtns[i].addEventListener("click", function(){
            infoMessageBars[i].classList.toggle("visible");
        })
        messageSendBtns[i].addEventListener("click", function(){
            axios.get("/api/users/checkConversations", {
                params: {
                    accountUserId: users[i].getAttribute("data-id")
                }
            }).then(function(res){
                if(res.data.existingConv){
                    axios.put("/api/users/conversations", {
                        convId: res.data.convId,
                        text: messageTexts[i].value
                    }).catch(function(err){console.log(err)})
                } else {
                    axios.post("/api/users/conversations", {
                        accountUserId: users[i].getAttribute("data-id"),
                        text: messageTexts[i].value
                    }).catch(function(err){console.log(err)})
                }
                messageTexts[i].value = "";
            }).catch(function(err){console.log(err)})
        });
    }

    setInterval(function(){
        if(!window.matchMedia('(min-width: 768px)').matches){
            infoMessageBars.forEach(function(infoMessageBar){
                infoMessageBar.classList.remove("visible");
            })
        }
    }, 300);
</script>

<% include partials/footer.ejs %>