<% include partials/header.ejs %>

<h3><%=currentUser.username%>'s Account</h3>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="navbar-nav">
        <a class="nav-item nav-link" href="/account">Photos</a>
        <a class="nav-item nav-link" href="/account/following">Following</a>
        <a class="nav-item nav-link active" href="/account/followers">Followers</a>
        <a class="nav-item nav-link" href="/account/messages">Messages</a>
        <a class="nav-item nav-link" href="/account/settings">Settings</a>
        <a class="nav-item nav-link" href="/logout">Logout</a>
    </div>
</nav>

<h3>Followers (<%=myUser.followers.length%>)</h3>

<table class="table table-striped">
    <thead>
    <tr>
        <th scope="col">Username</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
    </tr>
    </thead>
    <tbody>
    <%myUser.followers.forEach(function(follower){%>
    <tr>
        <td><%=follower.username%></td>
        <td><%=follower.firstName%></td>
        <td><%=follower.lastName%></td>
    </tr>
    <%});%>
    </tbody>
</table>

<% include partials/footer.ejs %>