<% include partials/header.ejs %>

<script type="text/javascript" src="countries.js"></script>

<div id="userData"></div>
<div class="home-header">
    <div class="snappir-container">
        <div class="home-title">HOME</div>
        <div class="home-header-nav">
            <div class="home-header-left">
                <select id="country" name="country" class="home-dropdown" onchange="makeAJAXSortRequest(null, false)">
                    <option value="all" selected="selected">All</option>
                </select>
                <select id="photoType" name="photoType" class="home-dropdown" onchange="makeAJAXSortRequest(null, false)">
                    <option value="all" selected="selected">All</option>
                    <option value="landscapes">landscapes</option>
                    <option value="cityscapes">cityscapes</option>
                </select>
                <select id="within" name="within" class="home-dropdown" onchange="makeAJAXSortRequest(null, false)">
                    <option value="day">Past Day</option>
                    <option value="week">Past Week</option>
                    <option value="month" selected="selected">Past Month</option>
                    <option value="year">Past Year</option>
                    <option value="ever">Ever</option>
                </select>
            </div>
            <div class="home-header-right">
                <select class="home-sort-dropdown" id="sortBy" name="sortBy" onchange="makeAJAXSortRequest(null, false)">
                    <option value="newest" selected="selected">Newest</option>
                    <option value="mostLiked">Most Liked</option>
                    <option value="mostFavorited">Most Favorited</option>
                    <option value="myFavorites">My Favorites</option>
                </select>
                <div id="newest" class="home-link">Newest</div>
                <div id="mostLiked" class="home-link">Most Liked</div>
                <div id="mostFavorited" class="home-link">Most Favorited</div>
                <div id="myFavorites" class="home-link">My Favorites</div>
            </div>
        </div>
    </div>
</div>

<div class="snappir-container">
    <%if(user != undefined){%>
    <div class="user-info-bar" data-id="<%=user._id%>">
        <div class="info-bar-image">

        </div>
        <div class="info-bar-details">
            <div class="info-bar-half">
                <div class="info-bar-name"><a href="/account/<%=user.username%>"><%=user.username%></a></div>
                <div class="info-bar-name"><%=user.firstName%></div>
                <div class="info-bar-name"><%=user.lastName%></div>
                <div class="info-bar-meta">Following: <%=user.following.length%></div>
            </div>
            <div class="info-bar-half">
                <div class="info-bar-bio">
                    <%=user.bio%>
                </div>
                <div class="info-bar-meta">Followers: <%=user.followers.length%></div>
            </div>
        </div>
        <div class="info-bar-actions">
            <% if(currentUser.username != user.username){ %>
            <button class="snappir-btn user-message-btn">Message</button>
            <% var match = false; %>
            <% currentUser.following.forEach(function(fol){ %>
            <% if(fol.username == user.username){ %>
            <% match = true; %>
            <% } %>
            <% }) %>
            <button class="account-follow-btn snappir-btn <% if(match){ %>snappir-btn-inverse<%}%>" data-following="<%if(match){%>yes<%}else{%>no<%}%>">
                <%if(match){%>Unfollow<%}else{%>Follow<%}%></button>
            <% } %>
        </div>
    </div>
    <%}%>
    <div id="grid" class="grid" data-posts="<%=htmlPosts.html%>" data-index="<%=htmlPosts.currentIndex%>">

    </div>
    <div id="endOfPage"></div>
</div>

<script type="text/javascript" src="postsSort.js"></script>

<script>
    var usingPhotosList = false;

    document.addEventListener("scroll", function() {
        checkForNewDiv();
    });

    var checkForNewDiv = function() {
        var lastDiv = document.querySelector("#endOfPage");
        var lastDivOffset = lastDiv.offsetTop;
        var pageOffset = window.pageYOffset + window.innerHeight;
        sessionStorage.pagePosition = window.pageYOffset;

        if(pageOffset > lastDivOffset - 300 && !end && !wait) {
            wait = true;
            makeAJAXRequest(null, true);
        }
    };
</script>

<script type="text/javascript" src="sortBar.js"></script>

<% include partials/footer.ejs %>