<% include partials/header.ejs %>

<script type="text/javascript" src="countries.js"></script>

<div id="userData"></div>
<div class="home-header">
    <div class="snappir-container">
        <div class="home-title">HOME</div>
        <div class="home-header-nav">
            <div class="home-header-left">
                <select name="country" class="home-dropdown">
                    <option value="all" selected="selected">All</option>
                </select>
                <select name="photoType" class="home-dropdown">
                    <option value="all" selected="selected">All</option>
                    <option value="landscape">landscape</option>
                    <option value="cityscape">cityscape</option>
                </select>
                <select name="within" class="home-dropdown">
                    <option value="day">Past Day</option>
                    <option value="week">Past Week</option>
                    <option value="month" selected="selected">Past Month</option>
                    <option value="year">Past Year</option>
                    <option value="ever">Ever</option>
                </select>
            </div>
            <div class="home-header-right">
                <select class="home-sort-dropdown">
                    <option value="newest" selected="selected">Newest</option>
                    <option value="mostLiked">Most Liked</option>
                    <option value="mostFavorited">Most Favorited</option>
                    <option value="myFavorites">My Favorites</option>
                </select>
                <div class="home-link">Newest</div>
                <div class="home-link">Most Liked</div>
                <div class="home-link">Most Favorited</div>
                <div class="home-link">My Favorites</div>
            </div>
        </div>
    </div>
</div>

<%if(user != undefined){%>
<table class="table table-striped">
    <tr>
        <td><%=user.username%></td>
        <td><%=user.firstName%></td>
        <td><%=user.lastName%></td>
    </tr>
</table>
<%}%>

<div class="snappir-container">
    <div id="grid" class="grid" data-posts="<%=htmlPosts.html%>" data-index="<%=htmlPosts.currentIndex%>">

    </div>
    <div id="endOfPage"></div>
</div>

<script type="text/javascript" src="postsSort.js"></script>

<script>
    document.addEventListener("scroll", function() {
        checkForNewDiv();
    });

    var checkForNewDiv = function() {
        var lastDiv = document.querySelector("#endOfPage");
        var lastDivOffset = lastDiv.offsetTop;
        var pageOffset = window.pageYOffset + window.innerHeight;
        sessionStorage.pagePosition = window.pageYOffset;

        if(pageOffset > lastDivOffset - 300 && !end && !wait) {
            wait = true;
            makeAJAXRequest(null, true);
        }
    };
</script>

<script type="text/javascript" src="sortBar.js"></script>

<% include partials/footer.ejs %>