<% include partials/header.ejs %>

<script type="text/javascript" src="countries.js"></script>

<form action="/home" method="GET" class="form-inline center">
    <select id="searchBy" name="searchBy" class="form-control">
        <option value="title">Title</option>
        <option value="description">Description</option>
        <option value="author">Author</option>
    </select>
    <input type="text" id="search" class="form-control" name="search">
    <button type="submit" id="searchBtn" class="btn btn-xs btn-primary">Search</button>
</form>

<nav class="navbar navbar-expand-lg navbar-light bg-light" style="border: solid 1px #333333">
    <div class="form-group">
        <label for="sortBy">Sort By: </label>
        <select id="sortBy" name="sortBy" class="form-control">
            <option value="newest" selected="selected">Newest</option>
            <option value="highest rated">Highest Rated</option>
            <option value="most favorited">Most favorited</option>
            <option value="most viewed">Most Viewed</option>
        </select>
    </div>
    <div class="form-group">
        <label for="within">Within: </label>
        <select id="within" name="within" class="form-control">
            <option value="day">Past Day</option>
            <option value="week">Past Week</option>
            <option value="month" selected="selected">Past Month</option>
            <option value="year">Past Year</option>
            <option value="ever">Ever</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="photoType">PhotoType: </label>
        <select id="photoType" name="photoType" class="form-control">
            <option value="any" selected="selected">Any</option>
            <option value="landscapes">Landscapes</option>
            <option value="cityscapes">Cityscapes</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="sortBy">Country: </label>
        <select id="country" name="country" class="form-control">
            <option value="all" selected="selected">All</option>
        </select>
    </div>
    <button id="sortBtn" class="btn btn-xs btn-primary">Sort</button>
</nav>

<%if(user != undefined){%>
<table class="table table-striped">
    <tr>
        <td><%=user.username%></td>
        <td><%=user.firstName%></td>
        <td><%=user.lastName%></td>
    </tr>
</table>
<%}%>

<div id="postsSection" class="text-center" data-index="<%=htmlPosts.index%>" style="display: flex; flex-wrap: wrap">
    <div id="column-1" class="col-md-4" data-col1="<%=htmlPosts.html1%>" style="padding: 2px 2px 0 2px">

    </div>
    <div id="column-2" class="col-md-4" data-col2="<%=htmlPosts.html2%>" style="padding: 2px 2px 0 2px">

    </div>
    <div id="column-3" class="col-md-4" data-col3="<%=htmlPosts.html3%>" style="padding: 2px 2px 0 2px">

    </div>
</div>
<div id="endOfPage"></div>

<script type="text/javascript" src="postsSort.js"></script>

<script>
    document.addEventListener("scroll", function() {
        checkForNewDiv();
    });

    var checkForNewDiv = function() {
        var lastDiv = document.querySelector("#endOfPage");
        var lastDivOffset = lastDiv.offsetTop;
        var pageOffset = window.pageYOffset + window.innerHeight;
        sessionStorage.pagePosition = window.pageYOffset;

        if(pageOffset > lastDivOffset - 150 && !end && !wait) {
            wait = true;
            makeAJAXRequest({}, true);
        }
    };
</script>

<% include partials/footer.ejs %>