<% include partials/header.ejs %>

<div class="account-header">
    <div class="snappir-container">
        <div id="userData" class="account-username" data-username="<%=currentUser.username%>"><%=currentUser.username%></div>
        <div class="account-info-container">
            <div class="account-info">Photos: XX</div>
            <div class="account-info">Collections: XX</div>
            <div class="account-info">Followers: XX</div>
            <div class="account-info">Following: XX</div>
            <div class="account-info">Favorites: XX</div>
        </div>
        <div class="account-bio">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce ac pellentesque justo, vitae aliquam tellus.
            Fusce in lorem non leo vestibulum pulvinar. Curabitur nec mi dictum, tristique felis ac, pulvinar velit.
        </div>
    </div>
</div>

<div class="account-nav">
    <a class="account-nav-item" href="/account">Photos</a>
    <a class="account-nav-item" href="/account/collections">Collections</a>
    <a class="account-nav-item" href="/account/following">Following</a>
    <a class="account-nav-item" href="/account/followers">Followers</a>
    <a class="account-nav-item account-nav-active" href="/account/messages">Messages</a>
    <a class="account-nav-item" href="/account/favorites">Favorites</a>
    <a class="account-nav-item" href="/account/settings">Settings</a>
    <a class="account-nav-item account-nav-danger " href="/logout">Logout</a>
</div>

<div class="snappir-container">
    <div class="user-info-container">
        <% var user; %>
        <% convs.forEach(function(conv){ %>
        <%if(conv.user1.username == currentUser.username){user = conv.user2} else {user = conv.user1};%>
        <div class="user-info-bar" data-id="<%=conv._id%>">
            <div class="info-bar-image">

            </div>
            <div class="info-bar-details">
                <div class="info-bar-half">
                    <div class="info-bar-name"><%=user.username%></div>
                    <div class="info-bar-name"><%=user.id.firstName%></div>
                    <div class="info-bar-name"><%=user.id.lastName%></div>
                    <div class="info-bar-meta">Messages: <%=conv.messages.length%></div>
                </div>
                <div class="info-bar-half">
                    <div class="info-bar-bio">
                        <%=conv.messages[conv.messages.length - 1].text%>
                    </div>
                    <div class="info-bar-meta"><%=conv.lastMessage.toLocaleString("en-US", { month: '2-digit', day: '2-digit', year: '2-digit', hour: 'numeric', minute: '2-digit' })%></div>
                </div>
            </div>
            <div class="info-bar-actions">
                <button class="snappir-btn user-view-btn">View</button>
                <button class="snappir-btn user-message-btn">Reply</button>
            </div>
        </div>
        <div class="info-message-bar">
            <input type="text" class="message-bar-input">
            <button type="submit" class="snappir-btn snappir-btn-green message-btn">Send</button>
        </div>
        <div class="message-table-container">
            <table style="width: 100%">
                <% conv.messages.reverse().forEach(function(message){ %>
                    <tr class="message-table-row">
                        <td class="message-table-info"><div class="message-info-user"><%=message.author%></div><%=message.date.toLocaleString("en-US", { weekday: 'narrow', month: 'short', day: 'numeric', year: 'numeric', hour: 'numeric', minute: '2-digit'})%></td>
                        <td class="message-table-text">
                            <%=message.text%>
                        </td>
                    </tr>
                <% }) %>
            </table>
        </div>
        <% }) %>
    </div>
</div>

<script>
    var convs = document.querySelectorAll(".user-info-bar");
    var messageInputs = document.querySelectorAll(".message-bar-input");
    var messageSends = document.querySelectorAll(".message-btn");

    for(let i = 0; i < convs.length; i++){
        sendMessagePrep(i);
    }

    function sendMessagePrep(i){
        messageSends[i].addEventListener("click", function(){
            axios.put("/api/users/conversations", {
                convId: convs[i].getAttribute("data-id"),
                text: messageInputs[i].value
            })
                .then(function(){
                    messageInputs[i].value = '';
                })
        })
    }

</script>

<script>
    var messageBtns = document.querySelectorAll(".user-message-btn");
    var infoMessageBars = document.querySelectorAll(".info-message-bar");
    var viewBtns = document.querySelectorAll(".user-view-btn");
    var messageTables = document.querySelectorAll(".message-table-container");

    for(var b = 0; b < messageBtns.length; b++){
        messageBarSetup(b);
    }

    function messageBarSetup(index){
        messageBtns[index].addEventListener("click", function(){
            infoMessageBars[index].classList.toggle("visible");
        })
        viewBtns[index].addEventListener("click", function(){
            messageTables[index].classList.toggle("visible");
            if(!window.matchMedia('(min-width: 768px)').matches){
                infoMessageBars[index].classList.toggle("visible");
            }
        })
    }

    setInterval(function(){
        if(!window.matchMedia('(min-width: 768px)').matches){
           for(var x = 0; x < messageTables.length; x++){
                if(messageTables[x].classList.contains("visible")){
                    infoMessageBars[x].classList.add("visible");
                }
            }
        }
    }, 300);
</script>

<% include partials/footer.ejs %>