<% include partials/header.ejs %>

<div class="container">
    <div class="fullPost">
        <div class="postHead">
            <h3 class="text-center"><%=post.title%></h3>
            <nav class="navbar navbar-expand-lg data" data-postId="<%=post._id%>">
                <ul class="navbar-nav">
                    <li>Posted by: <a class="nav-item" href="/account/<%=post.author.username%>"><%=post.author.username%></a></li>
                </ul>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"><a class="nav-link blank-btn likeBtn" style="color: '<%=likeColor%>'">Like</a></li>
                    <li class="nav-item"><span class="nav-link points"><%=post.points%></span></li>
                    <li class="nav-item"><a class="nav-link blank-btn hateBtn" style="color: '<%hateColor%>'">Hate</a></li>
                </ul>
            </nav>
        </div>
        <img src="<%=post.image%>" class="photo">
        <p class="description"><%=post.description%></p>
        <% if(currentUser && post.author.id.equals(currentUser._id)){%>
        <a class="btn btn-xs btn-warning" href="/home/<%=post._id%>/edit">Edit</a>
        <%}%>
    </div>
    <div>
        <h2>Comments</h2>
        <button id="addComment" class="btn btn-xs btn-success">Add Comment</button>
        <div id="commentArea">

        </div>
        <% post.comments.forEach(function(comment){ %>
        <div class="comment" data-comment-id="<%=comment._id%>" data-comment-text="<%=comment.text%>" style="background-color: #dddddd">
            <p>
                <%= comment.text %>
            </p>
            <% if(currentUser && comment.author.id.equals(currentUser._id)){%>
            <button class="editComment" class="btn btn-xs btn-warning">Edit</button>
            <%}%>
            <div>

            </div>
        </div>
        <%})%>
    </div>
</div>

<script type="text/javascript" src="comments.js"></script>

<script type="text/javascript" src="feedback.js"></script>

<% include partials/footer.ejs %>