<% include partials/header.ejs %>

<div class="container">
    <div class="fullPost">
        <h2 class="text-center title"><%=post.title%></h2>
        <img src="<%=post.image%>" class="photo">
        <p class="description"><%=post.description%></p>
        <a class="btn btn-xs btn-warning" href="/home/<%=post._id%>/edit">Edit</a>
    </div>
    <div>
        <h2>Comments</h2>
        <button id="addComment" class="btn btn-xs btn-success">Add Comment</button>
        <div id="commentArea" style="margin-bottom: 150px">

        </div>
        <% post.comments.forEach(function(comment){ %>
        <div style="background-color: #dddddd">
            <p>
                <%= comment.text %>
            </p>
        </div>
        <%})%>
    </div>
</div>
<script>
    var commentArea = document.querySelector("#commentArea");
    var commentButton = document.querySelector("#addComment");
    var on = false;

    commentButton.addEventListener("click", openCommentForm);

    function openCommentForm(){
        var html = "";
        if(on) {
            commentArea.innerHTML = "";
            on = false;
        } else {
            html = '<form action="/home/<%= post._id %>" method="POST">';
            html += '<input type="text" class="form-control" name="comment[text]">';
            html += '<button type="submit" class="btn btn-xs btn-success">Post</button></form>';
            commentArea.innerHTML = html;
            on = true;
        }
    }
</script>
<% include partials/footer.ejs %>