<% include partials/header.ejs %>

<div class="snappir-container">
    <div class="post-container">
        <div class="post-info">
            <div class="post-info-details">
                <div class="info-title">
                    <%=post.title%>
                </div>
                <div class="info-description">
                    <%=post.description%>
                </div>
            </div>
            <div class="post-info-comments">
                <form action="/home/<%= post._id %>/comment" method="POST" class="post-comment-form">
                    <input type="text" class="post-comment-input" name="comment[text]" placeholder=" Add Comment">
                    <button type="submit" class="post-comment-btn">Add</button>
                </form>
                <%post.comments.forEach(function(comment){%>
                <div class="post-comment">
                    <%=comment.author.username%>: <%=comment.text%>
                </div>
                <%})%>
            </div>
            <div class="post-info-map">

            </div>
        </div>
        <div class="post-photo-area">
            <img src="<%=post.image%>" class="post-photo">
        </div>
    </div>
    <div class="post-meta">
        <div class="post-meta-location">
            Taken in: <%=post.country%>
        </div>
        <div class="post-meta-flex">
            <div class="post-meta-author">
                Posted by: <%=post.author.username%>
            </div>
            <div class="post-meta-rate">
                <a class="likeBtn" style="color: <%=postVars.likeColor%>" data-liked="<%=postVars.liked%>">Like</a>
                <span class="points"><%=post.points%></span>
                <a class="hateBtn" style="color: <%=postVars.hateColor%>" data-hated="<%=postVars.hated%>">Hate</a>
            </div>
            <div class="post-meta-favorite">
                <a class="blank-btn favoriteBtn" style="color: <%=postVars.favBtnColor%>" data-favorited="<%=postVars.favorited%>">Favorite</a>
                <a class="blank-btn favoriteList">
                    <select id="favList" onchange="ajaxFavoriteCall(null, true)" style="display: <%=postVars.favListDisplay%>">
                        <option value="" selected="selected">unlisted</option>
                        <%postVars.favoriteLists.forEach(function(favoriteList){%>
                        <option value="<%=favoriteList.name%>"><%=favoriteList.name%></option>
                        <%})%>
                    </select>
                </a>
            </div>
        </div>
    </div>
</div>

<script>
    var photoArea = document.querySelector(".post-photo-area");
    var photo = document.querySelector(".post-photo");

    setImageSizes();
    setInterval(setImageSizes, 500);

    function setImageSizes(){
        var areaRatio = photoArea.offsetWidth / photoArea.offsetHeight;
        var photoRatio = photo.naturalWidth / photo.naturalHeight;

        if(photoRatio > areaRatio){
            photoArea.style.display = "flex";
            photo.style.width = photoArea.offsetWidth.toString() + "px";
            photo.style.height = (photoArea.offsetWidth / photoRatio).toString() + "px";
        } else {
            photoArea.style.display = "inline-block";
            photo.style.height = photoArea.offsetHeight.toString() + "px";
            photo.style.width = (photoArea.offsetHeight * photoRatio).toString() + "px";
        }
    }

</script>

<script type="text/javascript" src="comments.js"></script>

<script type="text/javascript" src="feedback.js"></script>

<% include partials/footer.ejs %>