<% include partials/header.ejs %>

<div class="account-header">
    <div class="snappir-container">
        <div id="userData" class="account-username" data-username="<%=currentUser.username%>"><%=currentUser.username%></div>
        <div class="account-info-container">
            <!--<div class="account-info">Photos: XX</div>-->
            <!--<div class="account-info">Collections: XX</div>-->
            <div class="account-info">Followers: <%=currentUser.followers.length%></div>
            <div class="account-info">Following: <%=currentUser.following.length%></div>
            <!--<div class="account-info">Favorites: XX</div>-->
        </div>
        <div class="account-bio">
            <%=currentUser.bio%>
        </div>
    </div>
</div>

<div class="account-nav">
    <a class="account-nav-item" href="/account">Photos</a>
    <!--<a class="account-nav-item" href="/account/collections">Collections</a>-->
    <a class="account-nav-item" href="/account/following">Following</a>
    <a class="account-nav-item" href="/account/followers">Followers</a>
    <a class="account-nav-item" href="/account/messages">Messages</a>
    <a class="account-nav-item" href="/account/favorites">Favorites</a>
    <a class="account-nav-item account-nav-active" href="/account/settings">Settings</a>
    <a class="account-nav-item account-nav-danger " href="/logout">Logout</a>
</div>

<div class="snappir-container">
    <div class="settings-container">
        <form action="/account/settings?_method=put" method="POST">
        <div class="settings-heading">Change Email</div>
        <div class="settings-section">
            <div class="settings-col">
                <label for="currentEmail" class="snappir-label">Current Email</label>
                <input type="text" class="settings-input">
            </div>
            <div class="settings-col">
                <label for="newEmail" class="snappir-label">New Email</label>
                <input type="text" class="settings-input">
            </div>
            <div class="settings-col">
                <label for="newEmail2" class="snappir-label">Confirm New Email</label>
                <input type="text" class="settings-input">
            </div>
        </div>
        <div class="settings-heading">Change Password</div>
        <div class="settings-section">
            <div class="settings-col">
                <label for="currentPassword" class="snappir-label">Current Password</label>
                <input type="text" class="settings-input">
            </div>
            <div class="settings-col">
                <label for="newPassword" class="snappir-label">New Password</label>
                <input type="text" class="settings-input">
            </div>
            <div class="settings-col">
                <label for="newPassword2" class="snappir-label">Confirm New Password</label>
                <input type="text" class="settings-input">
            </div>
        </div>
        <div class="settings-heading">Profile Picture</div>
        <div class="settings-section">
            <div class="settings-col-half">
                <input type="file" id="image" accept="image/*">
            </div>
        </div>
        <div class="settings-heading">Bio</div>
        <div class="settings-section">
            <div class="settings-col-half">
                <textarea name="bio" id="bio" class="settings-input-textarea"></textarea>
            </div>
        </div>
        <div class="settings-heading"></div>
        <div class="settings-section">
            <div class="settings-col-half">
                <label for="hideFirstName" class="snappir-label visible">Hide First Name</label>
                <input type="checkbox" id="hideFirstName">
            </div>
        </div>
        <div class="settings-section">
            <div class="settings-col-half">
                <label for="hideLastName" class="snappir-label visible">Hide Last Name</label>
                <input type="checkbox" id="hideLastName">
            </div>
        </div>
        <div class="settings-heading"></div>
        <button type="submit" id="settings-submit" class="snappir-btn">Update</button>
        </form>
    </div>
</div>

<script>


</script>

<% include partials/footer.ejs %>